.container, .container2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7d3d3;
  min-height: fit-content;
  //min-width: 600px;
  //max-width: 80vw;
  //width: 100%;
  border-radius: 5px;
  width: 100%;
  //height: fit-content;
  padding: 0 20px;
  opacity: 90%;
  transition: box-shadow 0.1s ease-in-out, opacity 0.1s ease-in-out;
  overflow: visible;
  z-index: 1;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 100%;
    transition: box-shadow 0.1s ease-in-out, opacity 0.1s ease-in-out;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
    margin: 10px 0;
  }
}

.container2 {
  background-color: #c0d3b5;
}


.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 20px;

  &:checked {
    background-color: teal;
  }
}

.text {
  text-decoration: none;
}

.text2 {
  text-decoration: line-through;
  opacity: 20%;
}

.text, .text2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  width: 90%;
  white-space: normal;
  hyphens: auto;
  word-break: break-word;
  overflow: visible;
  height: fit-content;

  margin: 10px 10px;


}

.button {
  position: relative;

  svg {
    fill: black;
    font-size: 27px;
    transition: fill 0.2s ease-in-out, font-size 0.1s ease-in-out;
  }

  &:hover {
    svg {
      transition: fill 0.1s ease-in-out, font-size 0.1s ease-in-out;
      fill: red;
      font-size: 32px;
    }
  }
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  min-width: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: fill 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;

}